### LAB 2

In [8]:
x = 10
y = 10.0
print(x == y)

True

In [10]:
print(type(3.0) is float)

True

In [14]:
print(type(3.0) is not float)

False

In [16]:
type({})

dict

In [18]:
x = {}
print(type(x))

<class 'dict'>

In [26]:
x = frozenset["1","2","3"]
print(x)
print(type(x))

frozenset['1', '2', '3']
<class 'types.GenericAlias'>

In [24]:
x = 10
y = 10.0
print(type(x) is type(y))

False

In [28]:
a = 5
b = 2
print(a//b + a%b)

3

In [30]:
print(2**3**2)

512

In [32]:
x = 2
y = 5
print(x**y%3)

2

In [34]:
print(5 & 3 | 2)

3

In [36]:
print(-10//3)

-4

In [38]:
print(5^3&1)

4

In [40]:
print(5<<1&3)

2

In [42]:
a=[1,2,3]
print(4 not in a and 2 in a)

True

In [44]:
print(2**3>5 and 5<2+2*2)

True

### WAP to check whether a given number ia an armstrong number or not.

In [53]:
n = 153
n_str = str(n)
n_len = len(n_str)
sum_power=0

for i in n_str:
    sum_power += int(i)**n_len

if sum_power == n:
    print("It is an Armstrong number")
else:
    print("It is not an Armstrong number")

It is an Armstrong number

### WAP to print the fibonacci series upto 100.

In [56]:
a = 0
b = 1

while a <= 100:
    print(a, end=' ')
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34 55 89

### WAP to find factorial of numbers from 1 to 50 and print them.

In [59]:
import math

for i in range(1, 51):
    print("Factorial of", i, "is", math.factorial(i))

Factorial of 1 is 1
Factorial of 2 is 2
Factorial of 3 is 6
Factorial of 4 is 24
Factorial of 5 is 120
Factorial of 6 is 720
Factorial of 7 is 5040
Factorial of 8 is 40320
Factorial of 9 is 362880
Factorial of 10 is 3628800
Factorial of 11 is 39916800
Factorial of 12 is 479001600
Factorial of 13 is 6227020800
Factorial of 14 is 87178291200
Factorial of 15 is 1307674368000
Factorial of 16 is 20922789888000
Factorial of 17 is 355687428096000
Factorial of 18 is 6402373705728000
Factorial of 19 is 121645100408832000
Factorial of 20 is 2432902008176640000
Factorial of 21 is 51090942171709440000
Factorial of 22 is 1124000727777607680000
Factorial of 23 is 25852016738884976640000
Factorial of 24 is 620448401733239439360000
Factorial of 25 is 15511210043330985984000000
Factorial of 26 is 403291461126605635584000000
Factorial of 27 is 10888869450418352160768000000
Factorial of 28 is 304888344611713860501504000000
Factorial of 29 is 8841761993739701954543616000000
Factorial of 30 is 265252859812191058636308480000000
Factorial of 31 is 8222838654177922817725562880000000
Factorial of 32 is 263130836933693530167218012160000000
Factorial of 33 is 8683317618811886495518194401280000000
Factorial of 34 is 295232799039604140847618609643520000000
Factorial of 35 is 10333147966386144929666651337523200000000
Factorial of 36 is 371993326789901217467999448150835200000000
Factorial of 37 is 13763753091226345046315979581580902400000000
Factorial of 38 is 523022617466601111760007224100074291200000000
Factorial of 39 is 20397882081197443358640281739902897356800000000
Factorial of 40 is 815915283247897734345611269596115894272000000000
Factorial of 41 is 33452526613163807108170062053440751665152000000000
Factorial of 42 is 1405006117752879898543142606244511569936384000000000
Factorial of 43 is 60415263063373835637355132068513997507264512000000000
Factorial of 44 is 2658271574788448768043625811014615890319638528000000000
Factorial of 45 is 119622220865480194561963161495657715064383733760000000000
Factorial of 46 is 5502622159812088949850305428800254892961651752960000000000
Factorial of 47 is 258623241511168180642964355153611979969197632389120000000000
Factorial of 48 is 12413915592536072670862289047373375038521486354677760000000000
Factorial of 49 is 608281864034267560872252163321295376887552831379210240000000000
Factorial of 50 is 30414093201713378043612608166064768844377641568960512000000000000

### WAP to calculate the sum of Fibonacci series.

In [3]:
def fibonacci_sum(n):
    a = 0
    b = 1
    total_sum = 0
    
    for i in range(n):
        total_sum += a
        temp = a
        a = b
        b = temp + b
    
    return total_sum

n = int(input("Enter the number of terms: "))
print("The sum of the first", n, "terms of the Fibonacci series is:", fibonacci_sum(n))

Enter the number of terms:  20

The sum of the first 20 terms of the Fibonacci series is: 10945