### Q1)Write a program in python to print the following patterns(1 to 18):-

### Pattern #1: Simple Number Triangle Pattern

In [28]:
def pattern_1():
    for i in range(1, 6):
        for j in range(i):
            print(i, end=' ')
        print()

pattern_1()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

### Pattern #2: Inverted Pyramid of Numbers

In [33]:
def pattern_2():
    for i in range(5, 0, -1):
        for j in range(i):
            print(i, end=' ')
        print()

pattern_2()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

### Pattern #3: Half Pyramid Pattern of Numbers

In [35]:
def pattern_3():
    for i in range(1, 6):
        for j in range(1, i + 1):
            print(j, end=' ')
        print()

pattern_3()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### Pattern #4: Inverted Pyramid of Descending Numbers

In [37]:
def pattern_4():
    for i in range(5, 0, -1):
        for j in range(i):
            print(i, end=' ')
        print()

pattern_4()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

### Pattern #5: Inverted Pyramid of the Same Digit

In [39]:
def pattern_5():
    for i in range(5, 0, -1):
        for j in range(i):
            print(5, end=' ')
        print()

pattern_5()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

### Pattern #6: Reverse Pyramid of Numbers

In [41]:
def pattern_6():
    for i in range(1, 6):
        for j in range(i, 0, -1):
            print(j, end=' ')
        print()

pattern_6()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

### Pattern #7: Inverted Half Pyramid Number Pattern

In [43]:
def pattern_7():
    for i in range(6, 0, -1):
        for j in range(i):
            print(j, end=' ')
        print()

pattern_7()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

### Pattern #8: Pyramid of Natural Numbers Less Than 10

In [45]:
def pattern_8():
    num = 1
    for i in range(1, 4):
        for j in range(i):
            print(num, end=' ')
            num += 1
        print()

pattern_8()

1
2 3
4 5 6

### Pattern #9: Reverse Pattern of Digits from 10

In [47]:
def pattern_9():
    for i in range(1, 5):
        for j in range(i):
            print((j + 1) + (i - 1), end=' ')
        print()

pattern_9()

1
2 3
3 4 5
4 5 6 7

### Pattern #10: Unique Pyramid Pattern of Digits

In [49]:
def pattern_10():
    for i in range(1, 6):
        for j in range(1, i + 1):
            print(j, end=' ')
        for j in range(i - 1, 0, -1):
            print(j, end=' ')
        print()

pattern_10()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

### Pattern #11: Connected Inverted Pyramid Pattern of Numbers

In [51]:
def pattern_11():
    for i in range(5, 0, -1):
        for j in range(5, i - 1, -1):
            print(j, end=' ')
        for j in range(2, i + 1):
            print(j, end=' ')
        print()

pattern_11()

5 2 3 4 5
5 4 2 3 4
5 4 3 2 3
5 4 3 2 2
5 4 3 2 1

### Pattern #12: Even Number Pyramid Pattern

In [53]:
def pattern_12():
    for i in range(1, 6):
        for j in range(i):
            print(10 - (j * 2), end=' ')
        print()

pattern_12()

10
10 8
10 8 6
10 8 6 4
10 8 6 4 2

### Pattern #13: Pyramid of Horizontal Tables

In [55]:
def pattern_13():
    for i in range(7):
        for j in range(i + 1):
            print(i * j, end=' ')
        print()

pattern_13()

0
0 1
0 2 4
0 3 6 9
0 4 8 12 16
0 5 10 15 20 25
0 6 12 18 24 30 36

### Pattern #14: Pyramid Pattern of Alternate Numbers

In [57]:
def pattern_14():
    for i in range(1, 10, 2):
        for j in range(i):
            print(i, end=' ')
        print()

pattern_14()

1
3 3 3
5 5 5 5 5
7 7 7 7 7 7 7
9 9 9 9 9 9 9 9 9

### Pattern #15: Mirrored Pyramid (Right-angled Triangle) Pattern of Numbers

In [59]:
def pattern_15():
    for i in range(1, 6):
        print(' ' * (5 - i) + ' '.join(str(x) for x in range(1, i + 1)))

pattern_15()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

### Pattern #16: Equilateral Triangle with Stars (Asterisk Symbol)

In [61]:
def pattern_16():
    for i in range(1, 8):
        print(' ' * (7 - i) + '* ' * i)

pattern_16()

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

### Pattern #17: Downward Triangle Pattern of Stars

In [63]:
def pattern_17():
    for i in range(6, 0, -1):
        print(' ' * (6 - i) + '* ' * i)

pattern_17()

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

### Pattern #18: Pyramid Pattern of Stars

In [65]:
def pattern_18():
    for i in range(1, 6):
        print('* ' * i)

pattern_18()

*
* *
* * *
* * * *
* * * * *

### Q2) Write a program in python to do the following
### A. To separate the following string into comma (,) separated values. X= “ India.is.my.country”
### B. To remove a given character from a string. Y=”M.A.N.I.P.A.L” 
### C. To remove the (.) dots from the above string.

In [72]:
X = "India.is.my.country"
comma_separated_values = X.split(".")
print("Comma separated values:", comma_separated_values)

Y = "M.A.N.I.P.A.L"
char_to_remove = "A"
Y_without_char = Y.replace(char_to_remove, "")
print("String after removing 'A':", Y_without_char)

Y_without_dots = Y.replace(".", "")
print("String after removing dots:", Y_without_dots)

Comma separated values: ['India', 'is', 'my', 'country']
String after removing 'A': M..N.I.P..L
String after removing dots: MANIPAL

### Q3)Write a program to sort strings alphabetically in python.

In [75]:
strings = ["banana", "apple", "orange", "grape", "kiwi"]

print("Original list of strings:")
print(strings)

strings.sort()

print("Sorted list of strings:")
print(strings)

Original list of strings:
['banana', 'apple', 'orange', 'grape', 'kiwi']
Sorted list of strings:
['apple', 'banana', 'grape', 'kiwi', 'orange']

### Q4)write a program in python to take an input from a user as a string then, reverse it.

In [78]:
user_input = input("Please enter a string: ")

reversed_string = user_input[::-1]

print("Reversed string:", reversed_string)

Please enter a string:  apple

Reversed string: elppa

### Q5)Write a program in python to check if a string contains only digits.

In [81]:
def is_string_numeric(input_string):
    if input_string == "":
        return False
    
    for char in input_string:
        if not char.isdigit():
            return False
    return True

user_input = input("Enter a string to check if it contains only digits: ")

if is_string_numeric(user_input):
    print("The string contains only digits.")
else:
    print("The string contains non-digit characters.")

Enter a string to check if it contains only digits:  890

The string contains only digits.

### Q6)Write a program in python to find the number of vowels in the string.

In [84]:
def count_vowels(s):
    vowels = "aeiouAEIOU"
    count = 0
    for letter in s:
        if letter in vowels:
            count += 1
    return count

string = input("Enter a string: ")
number_of_vowels = count_vowels(string)
print("Number of vowels:", number_of_vowels)

Enter a string:  pizza

Number of vowels: 2