### Q1)WAP in python to find the factorial of any number using reduce function.

In [20]:
from functools import reduce

def factorial(n):
    if n < 0:
        return "Factorial is not defined."
    result = reduce(lambda x, y: x * y, range(1, n + 1), 1)
    return result

number = int(input("Enter a number: "))
result = factorial(number)
print("The factorial of", number, "is:", result)

Enter a number:  6

The factorial of 6 is: 720


### Q2)WAP in python to find the largest among three numbers using reduce function.

In [22]:
from functools import reduce

def max_of_two(a, b):
    if a > b:
        return a
    else:
        return b

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

largest_number = reduce(max_of_two, [num1, num2, num3])

print("The largest number is:", largest_number)

Enter first number:  3
Enter second number:  4
Enter third number:  5

The largest number is: 5.0

### Q3)Write a Python program to triple all numbers in a given list of integers. Use Python map.

In [8]:
def triple(x):
    return x * 3

numbers = [1, 2, 3, 4, 5]

tripled_numbers = list(map(triple, numbers))

print("Original list:", numbers)
print("Tripled list:", tripled_numbers)

Original list: [1, 2, 3, 4, 5]
Tripled list: [3, 6, 9, 12, 15]

### Q4)Write a Python program to add three given lists using Python map and lambda.

In [14]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

result = list(map(lambda x, y, z: x + y + z, list1, list2, list3))

print("The sum of the three lists is:", result)

The sum of the three lists is: [12, 15, 18]

### Q5)Write a Python program to listify the list of given strings individually using Python map.

In [17]:
def listify_string(s):
    return list(s)

strings = ["apple", "banana", "cherry"]

listified_strings = list(map(listify_string, strings))

print(listified_strings)

[['a', 'p', 'p', 'l', 'e'], ['b', 'a', 'n', 'a', 'n', 'a'], ['c', 'h', 'e', 'r', 'r', 'y']]

### Q6)Write a Python program to square the elements of a list using the map() function.

In [21]:
def square(num):
    return num * 2

numbers = [1, 2, 3, 4, 5]

squared_numbers = list(map(square, numbers))

print("Original List:", numbers)
print("Squared List:", squared_numbers)

Original List: [1, 2, 3, 4, 5]
Squared List: [2, 4, 6, 8, 10]

### Q7)Write a Python program to convert a given list of integers and a tuple of integers in a list of strings.

In [24]:
def convert_to_strings(int_list, int_tuple):
    result_list = list(map(str, int_list)) + list(map(str, int_tuple))
    return result_list

int_list = [1, 2, 3, 4]
int_tuple = (5, 6, 7, 8)

result = convert_to_strings(int_list, int_tuple)

print("Converted list:", result)

Converted list: ['1', '2', '3', '4', '5', '6', '7', '8']